<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1">
      <div infinite-scroll='loadMore()' infinite-scroll-distance='1'>
        <a ng-repeat='image in images' ng-href="/#/image/{{image.id}}">
          <div class="image-block">
            <div>
              <img ng-src='{{image.thumbnailUrl}}'>
            </div>
            <div class="title">{{image.title}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
