//
// You can add/overwrite all your bower_components .sass variables here
// ----------------------------------------------------------------------------------------------------
$fa-font-path:                              "../assets/fonts";
$peintre-logo-font-size:                    80px;
$peintre-header-font-family:                'Gloria Hallelujah', cursive;
$peintre-common-font-family:                "Helvetica Neue", Helvetica, Arial, sans-serif;
$peintre-common-font-size:                  14px;
$peintre-footer-position:                   absolute;
$peintre-footer-bottom:                     0;
$peintre-footer-width:                      100%;
$peintre-footer-text-margin:                20px 0;
$peintre-image-viewer-margin:               20px;
$peintre-image-block-margin:                20px;
$peintre-image-block-width:                 200px;
$peintre-image-block-link-color:            #000;
$peintre-image-block-link-text-decoration:  none;
